.header{
	position: relative;
	width: 100%;
	height: 80px;
	line-height: 80px;
}
.logo{
	left: 40%;
	position: absolute;
}
.logout:hover{
	color: #ddd;
}
.my{
	left:30px;
	position: absolute;
}
a:link{
	text-decoration: none;
}
a:visited {
	color:#808080;
	text-decoration: none;
}
#user_name{
	margin-right: 10px;	
}

/* mypage 드롭다운 메뉴 */
.mypage, #sub-menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#sub-menu{
	opacity: 0;
	visibility: hidden;
}

li > a{
	display: block;
	padding: 5px 10px;
	text-align: center;
	letter-spacing: 0.05em;
}
#sub-menu{
	position:absolute;
	background: white;
}
#sub-menu > li{
	padding: 10px 16px;
}

.mypage:hover #sub-menu{
	opacity: 1;
	visibility: visible;
}


/**/


