@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


h3{
	margin-left: 50%;
}
table{
	margin-left: 20px;
	width: 80%;
	table-layout: fixed;
	border-collapse: collapse;
}
th {
	width: 200px;
	text-align: left;
	padding-right: 2rem;
	color: #757575;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	padding: 20px 10px 20px 18px;
}
tr{
	border-bottom: 1px solid #ebebeb;
	
}
td{
	padding: 15px 0px 20px;
}
div{
	display: inline-block;
}
input[type=text], input[type=password],input[type=email], input[type=tel]{
	width: 300px;
	height: 25px;
	border: 1px solid #ebebeb;
	margin: 4px 0px 0px;
}
input::placeholder{
	font-size: 10px;
}

.id_text{
	padding-top: 6px;
	text-align: center;
	color: #808080;
	font-size: 9pt;
}
.password_text{
	padding-top: 6px;
	text-align: center;
	color: #808080;
	font-size: 9pt;
}
.password_check_text{
	padding-top: 6px;
	text-align: center;
	color: #808080;
	font-size: 9pt;
}
.email_text{
	padding-top: 6px;
	text-align: center;
	color: #808080;
	font-size: 9pt;
}
#postcode{
	width: 100px;
}
