<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.mvc.mall.dto.UserDto" alias="UserDto"/>
		<typeAlias type="com.mvc.mall.dto.NoticeDto" alias="NoticeDto"/>
		<typeAlias type="com.mvc.mall.dto.ItemDto" alias="ItemDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/user-mapper.xml"/>
		<mapper resource="/mybatis/notice-mapper.xml"/>
		<mapper resource="/mybatis/item-mapper.xml"/>
	</mappers>
	
</configuration>
